body{
    padding: 0px 10px;
}
body h1{
    text-align: center;
    margin: 30px 0 ;
}
.darkMode{
    background-color: rgb(71, 71, 71);
}
.mood{
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 30px;
}
.mood.dark::before{
    content: '⭐';    
    background-color: white;
    border-radius: 10px;
    padding: 3px;
}
.mood::before{
    content: '🌙';
    background-color: black;
    border-radius: 10px;
    padding: 3px;
}
h1.darkMode{
    color: white;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    border: 1px solid black;
    justify-content: center;
}
.pending, .in-progress, .completed{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    border: 1px solid black;
    padding: 10px;
}
.pending.darkMode, .in-progress.darkMode, .completed.darkMode{
    border: 1px solid aquamarine;
    color: white;
}
.pendingTasks, .in-progressTasks, .completedTasks{
    border-top:1px solid black;
    width: 100%;
    min-height: 100px;
}
.pendingTasks.darkMode, .in-progressTasks.darkMode, .completedTasks.darkMode{
    border-top: 1px solid aquamarine;
}
.pending h2 span{
    font-size: 12px;
    cursor: pointer;
}
.task{
    background-color: aquamarine;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 5px;
    position: relative;
}
.task.darkMode{
    background-color: rgb(235, 195, 201);
    color: black;
}
.edit, .delete{
    cursor: pointer;
    position: absolute;
    font-size: 13px;
}
.edit{
    top: 10px;
    right: 45px;
}
.delete{
    top: 10px;
    right: 10px;
    
}
.sataus{
    display: block;
    position: static;
}

/* Craeacion del Modal para agregar Tareas */
dialog {
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.labelsText{
    display: flex;
    margin-bottom: 6px;
}
.labelsText ~ input, .labelsText ~ textarea {
    margin-bottom: 15px;
    width: 300px;
    padding: 5px 3px;
    border: 0.2px solid grey;
    border-radius: 2px;
}
.labelsText ~ textarea {
    height: 100px;
}        
.options {
    margin-bottom: 10px;
}        
.options input[type="radio"] {
    display: none;
}        
.options label {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}        
/* Colores predeterminados */
.options .low {
    background-color: #f0f0f0;
}        
.options .mid {
    background-color: #f0f0f0;
}        
.options .high {
    background-color: #f0f0f0;
}        
/* Cambios de color al seleccionar */
input#lowPriority:checked + label.low {
    background-color: yellow;
    color: grey;
}        
input#midPriority:checked + label.mid {
    background-color: orange;
    color: #fff;
}        
input#highPriority:checked + label.high {
    background-color: red;
    color: #fff;
}
/* Cambios de color al seleccionar en el edit */
input#lowPriority2:checked + label.low {
    background-color: yellow;
    color: grey;
}        
input#midPriority2:checked + label.mid {
    background-color: orange;
    color: #fff;
}        
input#highPriority2:checked + label.high {
    background-color: red;
    color: #fff;
}     
/* Botones del modal */
form div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}    
.create {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.close{
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    background-color: #fff;
}
.create:hover {
    background-color: #45a049;
}